header{
    background-color: #3A3845;
    padding: 20px 0;
    color:#F7CCAC;
    border-bottom: solid #001045;
}

.caixa {
    width: 940px;
    position: relative;     
    margin: 0 auto;
}

.titulo-principal{
    padding-left: 20px;
    font-size: 45px;
    position: absolute;  
    top: 20px;
    right: 0;
}

header nav{
    position: absolute;
    top: 75px;
    right: 0;
}

header nav li{
    display: inline;
    margin: 0 0 0 15px;
}

header nav a{
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    transition: 1s all;
}

header nav a:hover {
    color: #cac6b8;
}

/*FIM DO CABEÇALHO---------------------------------------------------*/

.principal{
    background-color: #CCCCCC;
    padding: 50px;
    line-height: 25px;
    
}

main{
    background-color: antiquewhite;
}

.login{
    width: 940px;   
    margin: 0 auto;
    padding: 50px 0;
    position: relative;
}

div label{
    margin-left: 32%;
}

.titulo-centralizado {
    margin-bottom: 75px;
    text-align: center;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
}

form{
    margin: 40px 0;
}

form label, form legend{
    display: inline-block;
    font-size: 20px;
    margin: 0 0 100px;
}

.input-padrao{
    display: block;
    margin: 10px 32%;
    padding: 10px 25px;
    width: 30%;
}

.enviar{
    width: 10%;
    padding: 15px 0;
    background-color: orange;
    color:white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 2s all;
    cursor: pointer;
    margin-left: 32%;
}

.enviar:hover{
    background-color: rgb(255, 60, 0);
    transform: scale(1.01);
}

.semsenha{
    margin: 115px;
}
/*FIM PAGINA DE LOGIN -----------COMEÇO INICIAL ALUNO--*/
.inicial_aluno{
    background-color: antiquewhite;
    height: 350px;
}

.inicial_aluno a{
    text-decoration: none;
    color: #000000;
}

.inicial_aluno ul{
    list-style: none;
}

.inicial_aluno img{
    width: 45px;
}

.inicial_aluno input{
    display: none;
}

.inicial_aluno nav{
    background-color: rgba(97, 97, 97,.9);
    width: 350px;
    height: 100%;
    left: -350px;
    position: absolute;
    transition: all .5s;
}

.inicial_aluno input[type="checkbox"]:checked ~ nav{
    transform: translateX(350px);
}

.inicial_aluno ul{
    top:70px;
    position: absolute;
    width: 350px;
}

.inicial_aluno a {
    display: block;
    padding: 20px 5px;
    color: aliceblue;
}

.inicial_aluno a:hover{
    background-color: #cccccc;
    color: #000000;
}

.inicial_aluno label{
    padding: 15px;
    position: absolute;
    z-index: 1;
}


/*COMEÇO DO RODAPÉ -----------------------------------*/
footer{
    text-align: center;
    background: url(imagens/bg.jpg);
    padding: 50px 0;
}

.copyright{
    color: antiquewhite;
    font-size: 13px;
    margin: 20px;
}