html,body{
    height: 100%;
}

/*FIM DO CABEÇALHO---------------------------------------------------*/
.inicial_aluno{
    background-color: antiquewhite;
    height: 350px;
}

.inicial_aluno a{
    text-decoration: none;
    color: #000000;
}

.inicial_aluno ul{
    list-style: none;
}

.inicial_aluno img{
    width: 45px;
}

.inicial_aluno input{
    display: none;
}

.inicial_aluno nav{
    background-color: rgba(97, 97, 97,.9);
    width: 350px;
    height: 100%;
    left: -350px;
    position: absolute;
    transition: all .5s;
}

.inicial_aluno input[type="checkbox"]:checked ~ nav{
    transform: translateX(350px);
}

.inicial_aluno ul{
    top:70px;
    position: absolute;
    width: 350px;
}

.inicial_aluno a {
    display: block;
    padding: 20px 5px;
    color: aliceblue;
}

.inicial_aluno a:hover{
    background-color: #cccccc;
    color: #000000;
}

.inicial_aluno label{
    padding: 15px;
    position: absolute;
    z-index: 1;
}